<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Product</title>
    <meta charset="UTF-8">
</head>
<body>

<h2>Edit Product</h2>

<form action="/product/edit" method="post" th:object="${product}">

    <!-- hidden id -->
    <input type="hidden" th:field="*{productId}">

    <label>Name:</label><br>
    <input type="text" th:field="*{productName}" required><br><br>

    <label>Quantity:</label><br>
    <input type="number" th:field="*{productQuantity}" required><br><br>

    <button type="submit">Update</button>
</form>

<br>
<a href="/product/list">Back</a>

</body>
</html>
