<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product List</title>
    <meta charset="UTF-8">
</head>
<body>

<h2>Product List</h2>

<a href="/product/create">+ Create Product</a>

<br><br>

<table border="1" cellpadding="8">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.productId}"></td>
        <td th:text="${product.productName}"></td>
        <td th:text="${product.productQuantity}"></td>

        <td>
            <a th:href="@{'/product/edit/' + ${product.productId}}">Edit</a>

            <form th:action="@{'/product/delete/' + ${product.productId}}"
                  method="post"
                  style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
